hr {
    background-color: white;
}

p {
    font-size: large;
}

/* body {
    background-image: url('https://wallpaperaccess.com/full/396538.jpg';
} */

#contactForm {
    height: 370px;
    width: 345px;
}

#contactForm button {
    margin-left: 235px;
}

#aboutMe {
    margin: auto;
    width: 90%;
    text-align: left;
}

#portfolioGal {
    margin: auto;
    width: 90%;
}

#linkList {
    align-items: center;
    text-align: center;
}

h6 {
    text-align: center;
}

#portfolioGal img {
    width:  475px;
    height: 250px;
}

nav ul{
    align-items: center;
}